<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore voluptas
      in, accusantium fugiat aliquam a ducimus inventore at natus illum quo
      consequatur corporis laboriosam cumque libero provident delectus ipsam
      reprehenderit!
    </p>
  </div>
</div>
